.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.logo {
  animation: logo-spin infinite 10s linear;
  height: 5vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(2vmin);
  color: white;
  padding: 2vw;
}

.content {
  margin: 0;
  background-color: #282c54;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
  overflow: hidden;
}

pre {
  font-size: calc(2vmin);
  text-align: left;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
