// @import 'mixins/animations.scss';

.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.logo {
  animation: logo-spin infinite 2s cubic-bezier(0.5, 0, 0, 1.25);
  height: 4vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
  color: white;
  padding: 1vw;
  height: 1vh;
}

.content {
  margin: 0;
  background-color: #282c54;
  width: 100vw;
  height: 100%;
  display: grid;
  font-size: calc(2vmin);
  color: white;
  overflow: hidden;
}

.footer {
  border-top: 1px solid lightblue;
  background-color: #282c8f;
  color: lightblue;
  font-family: Consolas;
  text-align: left;
  padding: 0.5vw;
  height: 1vh;
}

pre {
  font-size: calc(2vmin);
  text-align: left;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0) scale(0);
    filter: opacity(0) blur(4px);
  }
  25% {
    transform: rotate(360deg) scale(1);
    filter: opacity(1) blur(0px);
  }
  50% {
    transform: rotate(720deg) scale(4);
    filter: opacity(0) blur(4px);
  }
  75% {
    transform: rotate(360deg) scale(1);
    filter: opacity(1) blur(0px);
  }
  100% {
    transform: rotate(0) scale(0);
    filter: opacity(0) blur(4px);
  }
}
