.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: grid;
}

.logo {
  animation: logo-spin infinite 10s linear;
  height: 5vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
  color: white;
  padding: 2vw;
}

.content {
  margin: 0;
  background-color: #282c54;
  width: 100vw;
  height: 100%;
  display: block;
  font-size: calc(2vmin);
  color: white;
  overflow: hidden;
}

.footer {
  border-top: 1px solid lightblue;
  background-color: #282c8f;
  color: lightblue;
  font-family: Consolas;
  text-align: left;
}

pre {
  font-size: calc(2vmin);
  text-align: left;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
